@use '../abstracts/variables' as *;

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  //background-color: rgba(11, 11, 11, 0.9);
  background-color: rgba(21, 21, 30, 0.9);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid $color-border;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    font-family: $font-accent;
    font-size: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    z-index: 1002;
  }
}
