/*
  Типографические переменные
*/
$font-primary: 'Inter', sans-serif;
$font-accent: 'Bebas Neue', sans-serif;

/*
  Размеры шрифта
*/
$font-size-base: 16px;
$line-height-base: 1.6;

/*
  Цвета
*/
$color-bg-main: #0b0b0b;
$color-bg-secondary: #111111;
$color-border: rgba(255, 255, 255, 0.1);

$color-text-primary: #ffffff;
$color-text-secondary: #b3b3b3;

$color-accent: #e10600;
$color-accent-hover: #ff1e1e;

/*
  Цвета команд
*/
$color-mercedes: #00D7B6;
$color-redbull: #4781D7;
$color-ferrari: #ED1131;
$color-mclaren: #F47600;
$color-alpine: #00A1E8;
$color-racing-bulls: #6C98FF;
$color-aston-martin: #229971;
$color-williams: #1868DB;
$color-sauber: #01C00E;
$color-haas: #9C9FA2;
