@use '../abstracts/variables' as *;

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}