@use '../abstracts/variables' as *;

body {
  font-family: $font-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  color: $color-text-primary;
}

p {
  color: $color-text-secondary;
}

.team-name {
  font-family: $font-accent;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.section-heading {
  text-align: center;
  font-size: 2.5rem;
  font-family: $font-accent;
  letter-spacing: 0.1rem;
  margin-bottom: 60px;

  &::after {
    content: '';
    display: block;
    width: 150px;
    height: 3px;
    background: $color-accent;
    margin: 15px auto 0;
  }
}